* 영상링크 : https://youtu.be/CGEhwAd7Dbk

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1 -0.675292
1   2  0.397249
2   3  0.535591
3   4  0.344530
4   5  0.718731
5   6 -0.954807
6   7 -0.206720
7   8 -0.962359
8   9 -1.032302
9  10 -0.163312

In [3]:
df.assign?

In [4]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -0.675292  0.000000
1  2  0.397249  0.693147
2  3  0.535591  1.098612
3  4  0.344530  1.386294
4  5  0.718731  1.609438

In [5]:
df.ln_A = np.log(df.A)
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

    A         B
0   1 -0.675292
1   2  0.397249
2   3  0.535591
3   4  0.344530
4   5  0.718731
5   6 -0.954807
6   7 -0.206720
7   8 -0.962359
8   9 -1.032302
9  10 -0.163312

In [6]:
pd.qcut(df.B, 2, labels=["good", "bad"])

0    good
1     bad
2     bad
3     bad
4     bad
5    good
6    good
7    good
8    good
9     bad
Name: B, dtype: category
Categories (2, object): [good < bad]

In [7]:
df.max(axis=0)

A    10.000000
B     0.718731
dtype: float64

In [8]:
df.min(axis=0)

A    1.000000
B   -1.032302
dtype: float64

In [9]:
df["B"].clip(lower=1,upper=3)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: B, dtype: float64

In [10]:
df["B"].abs()

0    0.675292
1    0.397249
2    0.535591
3    0.344530
4    0.718731
5    0.954807
6    0.206720
7    0.962359
8    1.032302
9    0.163312
Name: B, dtype: float64